<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cozy Coffee</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
  <div>
    <h1>Welcome to Cozy Coffee!</h1>
  </div>
  <div id="nav">
    <nav>
      <a href="/">Home</a>

      <% if (user) { %>
        |
        <a href="/posts">Posts</a>
        |
        <a href="/resources">Resources</a>
        <div id="user"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
          <%= user.name %>

            |
            <a href="/logout">LOG OUT</a>
            <% } else { %>
              <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
              <% } %>
        </div>
    </nav>
  </div>
  <div class="coffee-img">
    <img src="https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750_1280.jpg" alt="">
  </div>