:root {
  --main-bg-color: #FFEFD5;
  --main-color: #3D2B1F;
}

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  font-family: "Figtree", sans-serif;
  grid-template-areas:
    "nav"
}

a {
  color: #3D2B1F;
}

a:hover {
  color: #A0785A;
}

h1 {
  color: #3D2B1F;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  font-family: "Figtree", sans-serif;

}

.div #nav {
  width: 100%;
  height: 1rem;
  background-color: #EAE0C8;
  font-family: "Figtree", sans-serif;
  align-items: end;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.login img {
  height: 25px;
}

#logout, #user {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #3D2B1F;
}

#user img {
  color: #3D2B1F;
  font-family: "Figtree", sans-serif;
  height: 45px;
  border-radius: 55px;
}


table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #43351e;
}

table td {
  padding: 10px;
  text-align: center;
}