:root {
  --main-bg-color: #FFEFD5;
}

body {
  padding: 25px;
  width: 100%;
  display: space-between;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  font-family: "Figtree", sans-serif;
}

a {
  color: #3D2B1F;
}
a:hover {
  color: #A0785A;
}

h1 {
  color: #3D2B1F;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  font-family: "Figtree", sans-serif;

}

 .nav {
  width: 100%;
  height: 100px;
  display: grid;
  background-color: #EAE0C8;
  font-family: "Figtree", sans-serif;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.login img {
  height: 25px;
}

.loggedin-user img{
  color: #3D2B1F;
  border-radius: 55px;
}

