<%- include('../partials/header') %>

<form id="new-post-form" action="/posts" method="POST">
    <div id="new-title">
        <label>Title:</label>
        <input type="text" name="title">
    </div>
    <div id="new-image">
        <label>Image:</label>
        <input type="text" id="image" name="image">
    </div>
    <div id="new-type">
        <label>Coffee or Tea:</label>
        <select name="coffeeType">
            <option value="Light Roast">&#9749; Light Roast</option>
            <option value="Medium Roast">&#9749; Medium Roast</option>
            <option value="Dark Roast">&#9749; Dark Roast</option>
            <option value="Matcha">&#127861; Matcha</option>
            <option value="Chai">&#129750; Chai</option>
            <option value="Tea">&#129750; Tea</option>
        </select>
    </div>
    <div id="new-content">
        <textarea type="text" name="content" id="new-post-area" col="10" rows="10" style="height: 400px; width: 800px;"></textarea>
    </div>
    <input type="submit" id="submit-new" value="Submit Post">
</form>

<%- include('../partials/footer') %>