<%- include('../partials/header') %>


<h2>Viewing <%= posts._id %></h2>

<div><%= posts.content %></div>

<section id="comments">
<p>Comments!</p>
</section>









<%- include('../partials/footer') %>